<div class="about-wrap">
<div class="row">
	<div class="col-xs-12 about-title-field">
          <h1 class="text-center ab-title">ようこそ、プロラーンへ！<br>
          <span class="about-sub ab-title">プロラーンは、プログラミング学習を<span class="otegoro">"お手頃価格で"</span>するために作られたWEBサービスです</span>
          </h1>
    </div>
</div>

<div class="row pro-exp-wrap">
	<div class="col-xs-12 pro-exp-field">
		<h3 class="pro-exp">プロラーンとは？</h3>
		<p>プロラーンは、"プログラミングを学びたいけれど、出来るだけお金はかけたくない" という方と、 "プログラミングスキルを活かした仕事をしてみたい" という方をマッチングさせるWEBサービスです。プロラーンのご利用に一切料金は生じません。報酬のやり取りは個人間で行われるので、スクールに通うよりも圧倒的にお手頃な値段でプログラミングを人から学ぶことができます。</p>
	<table class="table about-table">
		<thead>
			<tr>
				<td>名前</td>
				<td>３ヵ月の学習でかかる値段</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>プロラーン</td>
				<td>〜5万円</td>
			</tr>
			<tr>
				<td>T社</td>
				<td>25万円</td>
			</tr>
			<tr>
				<td>C社</td>
				<td>30万円</td>
			</tr>
			<tr>
				<td>D社</td>
				<td>70万円</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="row">
	<div class="col-xs-12 pro-exp-field">
		<h3 class="pro-exp">プロラーンで学ぶメリット</h3>
		<p>プロラーンでは、圧倒的にお手頃な価格でプログラミングを人から学ぶことができます。プログラミング学習において、独学の挫折率は9割と言われており、教えてくれる存在はほぼ必須です。そんな存在をプロラーンで見つけましょう。プロラーンなら、好きな時に、好きな場所で、好きな教材を好きな人から学習できます。</p>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 pro-exp-field">
		<h3 class="pro-exp">プロラーンで教えるメリット</h3>
		<p>プロラーンでプログラミングを教えることで、アルバイトよりも高い時給を受け取れることはもちろん、大幅な自分のスキルアップを見込めます。また、プロラーンなら自分の力量に合った生徒を教えられるので、ミスマッチに困る必要はありません。</p>
	</div>
</div>
</div>