<div class="about-wrap">
<div class="row">
	<div class="col-xs-12 howto-title-field">
          <h1 class="text-center">ご利用方法</h1>
    </div>
</div>

<div class="row">
	<div class="col-xs-12">
		<h2 class="heading"><span id="student">生徒</span>として利用する</h2>
	</div>
	<div class="col-xs-12">
		<h3>①まずは会員登録</h3>
		<p>会員登録をすると、プロラーンをご利用できるようになります。</p>
	</div>
	<div class="col-xs-12">
		<h3>②気になる先生にメッセージを送る</h3>
		<p>トップページから学びたい言語を選択すると、教師一覧ページに飛びます。<br>自分の習熟度や先生の情報を参考に、教えて欲しい先生へメッセージを送りましょう。メッセージルームへは、先生の詳細ページから行くことができます。</p>
	</div>
	<div class="col-xs-12">
		<h3>③授業を受ける</h3>
		<p>メッセージルームで先生と授業の日時、場所、使う教材、報酬等を決め、授業を受けましょう。事前に理解できない点や解決できないエラー等を伝えておくと良いでしょう。<br>また、そもそも授業を行わずに好きな時に質問できるメンターとしての形態も考えられます。</p>
	</div>
	<div class="col-xs-12">
		<h3>④授業料を支払う</h3>
		<p>授業をしてくれた先生に授業料を払いましょう。例えば、週に〜円という契約でも良いですし、授業時間に応じて時給を支払うのも良いでしょう。<br>手取りや振り込み以外にも、アマゾンギフト券やiTunesカードでのやり取りが考えられます。</p>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<h2 class="heading"><span id="teacher">先生</span>として利用する</h2>
	</div>
	<div class="col-xs-12">
		<h3>①まずは会員登録</h3>
		<p>会員登録をすると、プロラーンをご利用できるようになります。</p>
	</div>
	<div class="col-xs-12">
		<h3>②教えられる言語に登録する</h3>
		<p>トップページから言語を選択すると、教師一覧ページに飛びます。タイトルの横に教師登録ボタンがあるので、そこから教師登録を行います。</p>
	</div>
	<div class="col-xs-12">
		<h3>③授業を行う</h3>
		<p>メッセージルームで生徒と授業の日時、場所、使う教材、報酬等を決め、授業を受けましょう。事前に使う教材を予習しておくと良いでしょう。<br>また、そもそも授業を行わずに好きな時に質問できるメンターとしての形態も考えられます。</p>
	</div>
	<div class="col-xs-12">
		<h3>④授業料を受け取る</h3>
		<p>生徒から授業料を受け取りましょう。手取りや振り込み以外にも、アマゾンギフト券やiTunesカードでのやり取りが考えられます。</p>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<h3 class="money">料金の目安(1時間あたり)</h3>
	</div>
	<div class="col-xs-12">
		<table class="table">
			<thead>
				<tr>
					<td>初級</td>
					<td>中級</td>
					<td>上級</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1500~2500円</td>
					<td>2500~4000円</td>
					<td>4000~7000円</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>